.regularImg img{
  height: 300px;
  width: 300px;
}

.defaultBackground {
  background-color: #A5B292;
  color: black;
}

.greyBackground {
  background-color: #4C5D5D;
  color: white;
}

.darkBackground {
  background-color: #251E35;
  color: white;
}

.hyperlink {
  color: inherit;
  font-weight: lighter;
}

.navyParagraph {
  background-color: #6F7695;
}

.brownParagraph {
  background-color: #AF9366;
}

.lightParagraph {
  background-color: #FFFFFF22;
}

.darkParagraph {
  background-color: #FFFFFF33;
}

.name {
  font-family: cursive;
  font-weight: bold;
}

.squareList {
  list-style: square inside;
}

.alphaList {
  list-style: lower-alpha;
}

.topnav {
  background-color: black;
  border-bottom: 4px solid white;
  color: white;
  padding-top: 0;

}

a:link {
  color:white
}

a:visited {
  color: indigo;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: red;
}
